@import '~antd/dist/antd.less';
@import '~antd/dist/antd.dark.less'; // Introduce the official dark less style entry file
@import '~antd/dist/antd.compact.less'; // Introduce the official compact less style entry file

.homescreen {
    height: 100vh;
    max-width: 414px;
}

.homepage {
    height: 50vh;
}

.instructions {
    height: 20vh;
}

.logo-container {
    max-width: 414px;
    margin: auto;
}

.button-container {
    height: 50vh;
    max-width: 414px;
    margin: auto;
}
.ant-btn-link {
    padding-left: 0px;
    padding-right: 0px;
}
.ant-btn {
    margin: 10px 0px 10px 0px;
}
.logo {
    margin: auto;
    width: 100%;
}

.top-panel {
    background-color: #dcae17;
    max-width: 600px;
}

.slot-input {
    background-color: #ffffff;
    color: #000;
    width: 25%;
    height: 60px;
    padding: 5px;
    vertical-align: middle;
}

.ant-select-selection-item {
    color: #000;
}

.ant-input-number-handler-wrap {
    visibility: hidden;
}

.ant-input-number {
    width: 100%;
}

#components-grid-demo-flex-align [class~='ant-row'] {
    background: rgba(255, 255, 255, 0.08);
}
